html, body {
  width: 100%;
  height: 100%;
  background-color: #272727;
}
  
body {
  padding: 1rem;
}

:root {
  --ln: 1px solid gainsboro;
}

main {
  height: 100%;
  width: 100%;
  border: var(--ln);
  border-radius: 1rem;
  color: gainsboro;
}

main > nav {
  height: 72px;
}

main > footer {
  height: 72px;
}

:root {
  --col-pad: 1rem;
}

.colBody {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}


.colBody > * {
  height: 144px;
  border: var(--ln);
  border-radius: 0.5rem;
}